Binaries/
Intermediate/
Saved/
DerivedDataCache/

Plugins/*/Binaries/
Plugins/*/Intermediate/
Plugins/*/Saved/

__pycache__/
*.pyc

.vs/
.vscode/
.idea/

*.sln
*.slnx
*.suo
*.user
*.userprefs
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.VC.db
*.VC.opendb

*.pdb
*.mdb
*.dmp
*.mem

.DS_Store
Thumbs.db
desktop.ini
